#close:hover {
    -fx-fill: red;
}

.jfx-button {
    -fx-padding: 3px;
    -jfx-button-type: FLAT;
    -fx-background-color: #dfdfdf;
    -fx-text-fill: #273136;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}

.jfx-button:hover {
    -fx-background-color: #2c9160;
}

#friendsView {
    -fx-background-color: #eeebe8;
}

#msgView,
#msgView .list-cell:selected,
#msgView .list-cell:hover,
#msgView .list-cell {
    -fx-background-insets: 0;
    -fx-background-color: #f5f5f5;
}


#friendsView .list-cell {
    -fx-background-color: #eeebe8;
}

#friendsView .list-cell:selected {
    -fx-background-color: #a8a6a5;
}

#friendsView .list-cell:hover:selected {
    -fx-background-color: #a8a6a5;
}

#friendsView .list-cell:hover {
    -fx-background-color: #cccac9;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0.5;
}

.text-area ,
.text-area .content {
    -fx-background-color: white;
}