#leftPane > .label {
    -fx-background-image: url('/img/title.png');
}


#close:hover {
    -fx-fill: red;
}

.label {
    -fx-font-size: 17;
    -fx-background-repeat: no-repeat;
}

.jfx-button {
    -jfx-button-type: FLAT;
    -fx-background-color: #669966;
    -fx-text-fill: white;
    -fx-font-size: 17;
    -fx-cursor: hand;
}

.jfx-text-field {
    -fx-alignment: center;
}

.jfx-password-field {
    -fx-alignment: center;
}