<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
    <!--   包扫描  -->
    <context:component-scan base-package="com.jun.lineyou"/>

    <!--  注解支持  -->
    <context:annotation-config/>

    <!--  配置文件加载, 用于@Value注解属性注入  -->
    <context:property-placeholder location="classpath:app.properties"/>
</beans>